.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.form{
    flex-direction: column;
    width: 300px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-weight: bold;
    color: #bbb;
    background-color: transparent;
}

.button{
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #53c28b;
    color: white;
    font-weight: bold;
    cursor: pointer;
}